<% provide(:title, 'Add Reviewer') %>
<h1>Add Reviewer</h1>

<%= form_for(@reviewer) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :name %>
  <%= f.text_field :name, autofocus: true %>

  <br>
  <%= f.label :relation %>
  <%= f.text_field :relation %>

  <br>
  <%= f.submit 'Create Reviewer' %>